<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid ">
    <div class="text-center"><h2>[[{pageTitle}]]</h2></div>

    <form th:action="@{/klienti/saglabat}" method="post" th:object="${klienti}"
     style="max-width: 500px margin: 0 auto;">
        <input type="hidden" th:field="*{id}"/>

        <div class="border" border-secondary rounded p-3>
        <div class="form-group row">
            <lable class="col-sm-4 col-form-lable">Epasts:</lable>
            <div class="col-sm-8">
            <input type="Epasts" th:field="*{Epasts}" class="form-control" required minlength="8" maxlength="45"/>
        </div>
        </div>
            <div class="form-group row">
                <lable class="col-sm-4 col-form-lable">Vards:</lable>
                <div class="col-sm-8">
                    <input type="Vards" th:field="*{Vards}" class="form-control" required minlength="5" maxlength="15"/>
                </div>
            </div>
            <div class="form-group row">
                <lable class="col-sm-4 col-form-lable">Uzvards:</lable>
                <div class="col-sm-8">
                    <input type="Uzvards" th:field="*{Uzvards}" class="form-control" required minlength="2" maxlength="45" />
                </div>
            </div>
            <div class="form-group row">
                <lable class="col-sm-4 col-form-lable">Parole:</lable>
                <div class="col-sm-8">
                    <input type="Parole" th:field="*{Parole}" class="form-control" required minlength="2" maxlength="45" />
                </div>
            </div>
            <div class="form-group row">
                <lable class="col-sm-4 col-form-lable">Enabled:</lable>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{enabled}" />

                </div>
            </div>
            <div class="text-center">
            <button type="submit" class="btn-primary m-2">Save</button>
            <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
    </div>

    </form>

</div>
<script type="text/javascript">
    function cancelForm() {
    window.location = "[[@{klienti}]]";
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>